.pac-container {
	z-index:9000 !important;
}
.popup-address {
	font-size:10px;
	color:#707070; 
}
.list-group-item{
	padding: 0px !important;
	border: 0px !important;
	cursor:pointer;
}
.list-group-item.place-category :hover {
	background-color:#F5F5F5;
}
.badge {
	margin-top:10px;
}
.headerLogo {
	margin-top:-15px;
	width:85px;
}